<div class="container">

  <h1>
    Pick a state to see poll results.
  </h1>
  <p>Choose your theme:</p>
  <div id="selectWrapper">
    <label for="gop">Republican</label>
    <input id="gop" ng-model='d3.party' ng-click='d3.huffApi()' type="radio" name="party" value="gop">
    <label for="dem">Democrat</label>
    <input id="dem" ng-model='d3.party' ng-click='d3.huffApi()' type="radio" name="party" value="dem" checked="checked">
  </div>
  <div id='d3'></div>
  <div id='party' class='hide'>{{d3.party}}</div>
  <div id="results"></div>
  <h6></h6>
</div>
